h3{
    border-radius: 50;
    font-size: 25px !important;
}
.btn-danger:hover{
    background-color: green;
}
canvas{
    animation-name: clownNose;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes clownNose{
    from{box-shadow: 1px 1px 25px rgb(133, 133, 241);}
    to{box-shadow: 1px 1px 25px rgb(233, 233, 143);}
}
body{
    background-size: cover;
    background-position: center;
}